<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=iris.arvixe.com;Initial Catalog=LogicalMinds_MegaTracking  ;Integrated Security=False;User ID=LogicalMinds;Password=logicaldb@2014" providerName="System.Data.SqlClient" />-->

    <!--<add name="DefaultConnection" connectionString="Data Source=localhost;Initial Catalog=LogicalMinds_MegaTrakingVersao2;Integrated Security=True" providerName="System.Data.SqlClient" />-->

    <add name="DefaultConnection" connectionString="Data Source=DELL\SQLLOCALDB;Initial Catalog=ZiiDeveloper;Integrated Security=True;User ID=dell\ULTRABOOK;" providerName="System.Data.SqlClient"/>

  </connectionStrings>
  
</configuration>